<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'post:post_list' %}">
            <i class="fas fa-blog me-2"></i>Django Blog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post:post_create' %}">
                            <i class="fas fa-plus me-1"></i>새 글 작성
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:profile' %}">
                            <i class="fas fa-user me-1"></i>{{ user.username }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:logout' %}">
                            <i class="fas fa-sign-out-alt me-1"></i>로그아웃
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:login' %}">
                            <i class="fas fa-sign-in-alt me-1"></i>로그인
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:signup' %}">
                            <i class="fas fa-user-plus me-1"></i>회원가입
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>